<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
<div
  class="wp-block-group has-background-background-color has-background"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
 <!-- wp:pattern {"slug":"jetblack-fse/archive-title"} /-->

  <!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"20px","bottom":"80px","left":"20px"},"blockGap":"20px"}},"layout":{"inherit":true}} -->
  <div
    class="wp-block-group"
    style="
      padding-top: 80px;
      padding-right: 20px;
      padding-bottom: 80px;
      padding-left: 20px;
    "
  >
    <!-- wp:query {"queryId":1,"query":{"perPage":"8","pages":"","offset":"","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"tagName":"main","displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"inherit":false}} -->
    <main class="wp-block-query alignwide">
      <!-- wp:post-template {"align":"wide"} -->
      <!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"15px","bottom":"15px"}}},"backgroundColor":"background-secondary","layout":{"inherit":true}} -->
      <div
        class="wp-block-group has-background-secondary-background-color has-background"
        style="
          margin-top: 15px;
          margin-bottom: 15px;
          padding-top: 0px;
          padding-right: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
        "
      >
        <!-- wp:post-featured-image {"isLink":true,"align":"wide"} /-->

        <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"margin":{"top":"0px"},"blockGap":"10px"}},"backgroundColor":"dark-gray"} -->
        <div
          class="wp-block-group alignwide has-dark-gray-background-color has-background"
          style="
            margin-top: 0px;
            padding-top: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            padding-left: 40px;
          "
        >
          <!-- wp:post-title {"level":3,"isLink":true,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.4","fontSize":"1.3rem"}}} /-->

          <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
          <div class="wp-block-group">
            <!-- wp:post-author {"avatarSize":24,"showAvatar":false,"showBio":false,"fontSize":"small"} /-->

            <!-- wp:post-date {"format":"M j, Y","isLink":true,"fontSize":"small"} /-->
          </div>
          <!-- /wp:group -->

          <!-- wp:post-excerpt {"moreText":"Know More\u003ca role=\u0022textbox\u0022 aria-multiline=\u0022true\u0022 aria-label=\u0022\u0026quot;Read more\u0026quot; link text\u0022 class=\u0022block-editor-rich-text__editable wp-block-post-excerpt__more-link rich-text\u0022 style=\u0022font-size: revert; background-color: initial; font-family: var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dfont-family\u002d\u002droboto); min-width: 1px; display: inline !important;\u0022\u003e\u003c/a\u003e"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->

      <!-- wp:spacer {"height":"20px"} -->
      <div
        style="height: 20px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->
      <!-- /wp:post-template -->

      <!-- wp:query-pagination {"paginationArrow":"arrow","align":"center","layout":{"type":"flex","justifyContent":"space-between"}} -->
      <!-- wp:query-pagination-previous {"fontSize":"small"} /-->

      <!-- wp:query-pagination-numbers /-->

      <!-- wp:query-pagination-next {"fontSize":"small"} /-->
      <!-- /wp:query-pagination -->
    </main>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
